<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initialize</key>
	<array>
		<string>USB20_SWITCH_DEBUG</string>
		<string>IIC_BATT_SWITCH_DIS</string>
		<string>FORCE_BAT_EN</string>
		<string>IIC_BATT1_SWITCH_EN</string>
		<string>IIC_BATT1_READ_VOL,limit,12.06,13.33</string>
		<string>MLB_EN_BAT</string>
		<string>IIC_BATT1_SWITCH_DIS</string>
	</array>
	<key>powerOn</key>
	<array>
		<string>FORCE_BAT_CHGR</string>
		<string>IIC_BATT_SWITCH_EN</string>
		<string>IIC_UPC_SWITCH_EN</string>
		<string>BAT_POWER_OFF</string>
		<string>POS_VBUS_FLOAT</string>
		<string>USB20_SWITCH_DEBUG</string>
		<string>BAT_POWER_ON</string>
		<string>FORCE_BAT_EN</string>
		<string>PP3V3_G3H,limit,3,+</string>
		<string>SYS_DETECT,limit,3,+</string>
		<string>MLB_EN_BAT</string>
		<string>DC_POWER_ON</string>
		<string>POS_VBUS_TO_PP20V_XA_VBUS</string>
		<string>USB20_SWITCH_POS</string>
		<string>PMU_SYS_ALIVE,limit,1,+</string>
		<string>PMU_ACTIVE_READY,limit,1,+</string>
		<string>PPVDDCPU_AWAKE,limit,0.5,+</string>
	</array>
	<key>powerOff</key>
	<array>
		<string>MLB_CHGR_BAT</string>
		<string>POS_VBUS_FLOAT</string>
		<string>USB20_SWITCH_DEBUG</string>
		<string>DC_POWER_OFF</string>
		<string>FORCE_PP20V_XA_VBUS_DIS_CHGR</string>
		<string>PP20V_USBC_XA_VBUS,limit,0,1</string>
		<string>PPDCIN_G3H,limit,0,1</string>
		<string>PP20V_XA_VBUS_NATURE_DIS_CHGR</string>
		<string>PMU_RSLOC_RST_L_RESET_HOLD</string>
		<string>sleep,5</string>
		<string>PMU_ONOFF_R_L_RESET_HOLD</string>
		<string>sleep,5</string>
		<string>BAT_POWER_OFF</string>
		<string>PMU_RSLOC_RST_L_RELEASE</string>
		<string>PMU_ONOFF_R_L_RELEASE</string>
		<string>FORCE_BAT_G3H_DIS_CHGR</string>
		<string>FORCE_PPBUS_G3H_DIS_CHGR</string>
		<string>PPBUS_G3H,limit,0,1</string>
		<string>PPVBAT_G3H_CONN,limit,0,1</string>
		<string>BAT_G3H_NATURE_DIS_CHGR</string>
		<string>PPBUS_G3H_NATURE_DIS_CHGR</string>
		<string>PP2V7_NAND_SSD0,limit,0,0.1</string>
		<string>PP1V8_SSD0,limit,0,0.1</string>
		<string>PP0V9_SSD0,limit,0,0.1</string>
		<string>SYS_DETECT,limit,0,0.1</string>
		<string>PP3V3_G3H_RTC,limit,0,0.1</string>
	</array>
	<key>enterDFU</key>
	<array>
		<string>FORCE_DFU_POWER_ON</string>
		<string>SOC_VBUS_POWER_ON</string>
		<string>POWERON</string>
		<string>SOC_DFU_STATUS,limit,1.62,1.92</string>
		<string>FORCE_DFU_POWER_OFF</string>
	</array>
	<key>measureADC</key>
	<array>
		<string>SOC_USB_VBUS</string>
		<string>PM_PCH_SYS_PWROK</string>
		<string>PM_SLP_S3_L</string>
		<string>PPBUS_G3H</string>
		<string>PP3V3_G3H</string>
		<string>PP1V_PRIM</string>
		<string>PPVCC_S0_CPU</string>
		<string>PP3V3_G3H_RTC</string>
		<string>CHGR_EN_MVR</string>
		<string>PP1V8_SSD0</string>
		<string>PP0V9_SSD0</string>
		<string>PP2V7_NAND_SSD0</string>
		<string>PP1V8_G3S</string>
		<string>SSD_PMU_RESET_L</string>
		<string>PMU_COLD_RESET_L</string>
		<string>PPDCIN_G3H</string>
		<string>PP3V3_S5</string>
		<string>PPDCIN_G3H_CHGR</string>
		<string>PP1V2_S3</string>
		<string>PP0V82_SLPDDR</string>
		<string>PPVBAT_G3H_CONN</string>
		<string>PPVDDCPU_AWAKE</string>
		<string>PP1V8_SLPS2R</string>
		<string>PMU_SYS_ALIVE</string>
		<string>PM_SYSRST_L</string>
		<string>PLT_RST_L</string>
		<string>PM_RSMRST_L</string>
		<string>PM_PCH_PWROK</string>
		<string>SOC_SOCHOT_L</string>
		<string>PP20V_USBC_XA_VBUS</string>
		<string>SYS_DETECT</string>
		<string>PMU_ACTIVE_READY</string>
		<string>SOC_FORCE_DFU</string>
		<string>PP20V_USBC_XB_VBUS</string>
		<string>PP20V_USBC_TA_VBUS</string>
		<string>PP20V_USBC_TB_VBUS</string>
		<string>PP1V8_S5</string>
		<string>SMC_SYSRST_L</string>
	</array>
</dict>
</plist>
